<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Flashcards</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div class="content-wrapper">
        <%- include('../partials/navbar') %>
            <section id="flashcards">
                <div class="flashcard-section" id="all-flashcards">
                    <h1>Explore Flashcards</h1>
                    <ul class="cards">
                        <% flashcards.forEach(flashcard=> { %>
                            <li>
                                <a href="/flashcards/<%=flashcard._id%>">
                                    <div class="card-content <%= flashcard.background %>">
                                        <div class="card-info">
                                            <h3><%= flashcard.name %></h3>
                                            <p> <%= flashcard.cardCount %> cards</p>
                                        </div>
                                        <div class="card-creator">
                                            <div class="circle-pfp"> <%= flashcard.author.username[0] %></div>
                                            <p><%= flashcard.author.username %></p>
                                        </div>
                                    </div>
                                </a>
                            <% }) %>
                                <a href="/flashcards/create">
                                    <div class="new-card-btn">+</div>
                                </a>
                    </ul>
                </div>

            </section>
            <%- include('../partials/waves') %>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>