<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashcard</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/show.css" type="text/css" />
    <link rel="stylesheet" href="/css/components.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <section id="flashcard-show">
      <div class="deck-info">
        <h1><%= flashcard.name %></h1>
        <p class="flashcard-description"><%= flashcard.description %></p>
      </div>

      <div class="flashcard-header">
        <div class="deck-activities">
          <a href="/flashcards/<%=flashcard._id%>/study" class="button-key">
            Flashcards ⚡
          </a>
          <a href="" class="button-key">
            Learn set 📖
          </a>
          <a href="" class="button-key">
            Test your knowledge ☝️
          </a>
        </div>
        <% if(currentUser._id.equals(flashcard.author._id)) { %>
        <div class="flashcard-options">
          <a href="/flashcards/<%=flashcard._id%>/edit" class="button-30"
            >Edit</a
          >
          <button
            class="button-warning delete-button"
            onclick="deleteFlashcardBtn()"
          >
            Delete
          </button>
          <div class="delete-warning" id="deleteWarning">
            <p>Are you sure you want to delete this flashcard?</p>
            <div class="options">
              <form
                action="/flashcards/<%=flashcard._id%>/?_method=DELETE"
                method="POST"
              >
                <button class="button-30" id="delete">Delete</button>
              </form>
              <button class="cancel-delete button-30" onclick="cancelDelete()">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="flashcard-main">
        <div class="carousel-container">
          <div class="carousel-top">
            <button class="button-key" id="move-left"><</button>
            <div class="carousel">
              <% for (let card of flashcard.cards) { %>
              <div class="flipcard-wrapper">
                <div class="flipcard" data-toggle-class="flipped">
                  <div class="flipcard-front"><h1><%= card.term %></h1></div>
                  <div class="flipcard-back">
                    <h1><%= card.definition %></h1>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <button class="button-key" id="move-right">></button>
          </div>
          <div id="pIndicator"></div>
          <!-- <div class="shortcuts-menu">
          <h3>Shortcuts</h3>
          <P>Press <span class="button-key">spacebar</span> to flip the card</P>
        <p>Press <span class="button-key"><</span> and <span class="button-key">></span> to change the cards</p>
        </div> -->
        </div>
        <div class="deck-cards">
          <h2>Deck terms</h2>
          <div class="terms-section">
            <p class="card-studied in-progress">
              In progress: <%= flashcard.cards.length %>
            </p>
            <ul>
              <% for(let card of flashcard.cards) { %>
              <li>
                <div class="card">
                  <p class="term"><%= card.term %></p>
                  <p class="definition"><%= card.definition %></p>
                </div>
              </li>
              <% } %>
            </ul>
          </div>
          <div class="terms-section">
            <p class="card-studied studied">
              Studied: <%= flashcard.cards.length %>
            </p>
            <ul>
              <li>
                <div class="card">
                  <p class="term"><%= flashcard.cards[0].term%></p>
                  <p class="definition"><%= flashcard.cards[0].definition%></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/waves') %>
    <script src="/js/script.js" defer></script>
    <script src="/js/flipcard.js" defer></script>
  </body>
</html>
